$color-primary: #f5f4df;
$color-secondary: #6f7d8c;
$color-black: #252627;
$color-red: #c42021;
$color-green: #499167;
$color-white: #fefefe;
$color-gray: #D8D8D8;

$font-size-extra-large: 4.5vw;
$font-size-large: calc(12px + 0.45vw);
$font-size-normal: calc(12px + 0.16vw);
$font-size-small: calc(8px + .26vw);
$font-weight-light: 300;

$padding-horizontal: 15vw;

$line-height-description: 2;
$letter-spacing-description: 0.06em;

$z-index-title: 500;

$z-index-loading: 700;


$padding-horizontal-mobile: 3vmin;
$font-size-extra-large-mobile: 12vmin;
$font-size-normal-mobile: 3.5vmin;


$max-width-text-container: 650px;

$breakpoints: (
  'sm': 'screen and (max-width: 559px)',
  'md': 'screen and (max-width: 959px)'
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
