$color-primary: #f5f4df;
$color-secondary: #6f7d8c;
$color-black: #252627;
$color-red: #c42021;
$color-green: #499167;
$color-white: #fefefe;

$font-size-extra-large: 4.5vw;
$font-weight-light: 300;

$padding-horizontal: 15vw;

$line-height-description: 2;
$letter-spacing-description: 0.06em;

$z-index-title: 500;
